@model decimal

@*<div class="  text-center ">
    <h6> <span class="lead  text-warning mdi mdi-star-circle"></span> @localizer.Get("creditPoint") <strong class="text-warning ">@Model</strong>  @localizer.Get("point")</h6>
</div>*@

@*<span class="point-style d-block"> <strong> @Math.Round(@Model,0)</strong>  <i class="icon-gift"></i></span>*@


<small class="d-block color-orange">
<strong class="fz-15 mx-1 CridetPoint" > @Math.Round(@Model,00)</strong>
<i class="icon-gift fz-15"></i>
</small>
