@model Infoseed.MassagingPort.OrderingMenu.Pages.Model.OrderingMenuItemPagenationModel
@{
}
@*
<div class="col-md-4 mb-3 jsFilter" data-type="cat01">
    <!--Type Of catgory-->
    <div class="item-card">
        <div class="d-flex align-items-start">
            <div class="item-thumb">
                <img src="~/desgin/img/demo//img-01.png" alt="">
            </div>
            <div class="p-2">
                <h4> مثال على تفاصيل المنتج مع الخيارات</h4>
                <small class="trim-text-100">
                    لوريم ايبسوم دولار سيت أميت ,كونسيكتيتور أدايبا يسكينج
                    أليايت,سيت دو أيوسمود تيمبور
                    أنكايديديونتيوت لابوري ات دولار ماجنا أليكيوا
                </small>
            </div>
        </div>
        <div class="filter-img d-flex justify-content-between align-items-center">
            <div class="item-price">
                <strong> 5 دينار </strong>
                <span class="point-style mx-2"> 10 <i class="icon-gift"></i></span>
            </div>
            <button class="btn btn-primary" type="button" data-toggle="modal"
                    data-target="#modal-item-detials">
                @localizer.Get("Add")
            </button>

        </div>
    </div>
</div>



<div class="col-md-4 mb-3 jsFilter" data-type="cat02">

    <div class="item-card">
        <div class="d-flex align-items-start">
            <div class="item-thumb">
                <img src="~/desgin/img/demo//img-02.png" alt="">
                <div class="offer"> 20% OFF </div>
            </div>
            <div class="p-2">
                <h4> مثال على تفاصيل المنتج مع الخيارات</h4>
                <small class="trim-text-100">
                    لوريم ايبسوم دولار سيت أميت ,كونسيكتيتور أدايبا يسكينج
                    أليايت,سيت دو أيوسمود تيمبور
                    أنكايديديونتيوت لابوري ات دولار ماجنا أليكيوا
                </small>
            </div>
        </div>
        <div class="filter-img d-flex justify-content-between align-items-center">
            <div class="item-price">
                <strong> 5 دينار  <del> 15 دينار</del></strong>

            </div>
            <button class="btn btn-primary" type="button" data-toggle="modal"
                    data-target="#modal-item-detials">
                @localizer.Get("Add")
            </button>

        </div>
    </div>

</div>

<div class="col-md-4 mb-3 jsFilter" data-type="cat03">

    <div class="item-card not-available">
        <div class="d-flex align-items-start">
            <div class="item-thumb">
                <img src="~/desgin/img/demo//no-image.png" alt="">

            </div>
            <div class="p-2">
                <h4> مثال على تفاصيل المنتج ت</h4>
                <small class="trim-text-100">
                    لوريم ايبسوم دولار سيت أميت ,كونسيكتيتور أدايبا يسكينج
                    أليايت,سيت دو أيوسمود تيمبور
                    أنكايديديونتيوت لابوري ات دولار ماجنا أليكيوا
                </small>
            </div>
        </div>
        <div class="filter-img d-flex justify-content-between align-items-center">
            <div class="item-price">
                <strong> غير متوفر حاليا </strong>

            </div>


        </div>
    </div>



</div>

<div class="col-md-4 mb-3 jsFilter" data-type="cat01">
    <div class="item-card">
        <div class="d-flex align-items-start">
            <div class="item-thumb">
                <img src="~/desgin/img/demo//img-02.png" alt="">

            </div>
            <div class="p-2">
                <h4> مثال على تفاصيل المنتج مع الخيارات</h4>
                <small class="trim-text-100">

                </small>
            </div>
        </div>
        <div class="filter-img d-flex justify-content-between align-items-center">
            <div class="item-price">
                <strong> 5 دينار  </strong>

            </div>
            <button class="btn btn-primary" type="button" data-toggle="modal"
                    data-target="#modal-item-detials">
                @localizer.Get("Add")
            </button>

        </div>
    </div>

</div>
*@


@if (@Model.lstOrderingMenuItemModel != null)
{
    <input id="hdSubCatId" type="hidden" value="@Model.SubCategoryId" />



    @if (Model.lstOrderingMenuItemModel.Count != 0)
    {

        foreach (var item in Model.lstOrderingMenuItemModel)
        {

            <div class="col-md-4 mb-3 jsFilter" data-type="cat01" id="myDIV">
                <!--Type Of catgory-->
    <div class="item-card d-flex flex-column @Html.Raw(item.HasOption && item.IsInService?"btn-product-detials": "not-available")  " data-id="@item.Id" id="product">

                    <div class="d-flex align-items-start">                  
                        <div class="item-thumb" style="height: 83px!important;">
                            @if (@item.ImageUri != null && @item.ImageUri != "")
                            {
                                <img class="borderRadius" src="@item.ImageUri" alt="">
                            }
                            else
                            {
                                <img class="borderRadius" src="img/404.png" alt="">
                            }
                            @if (@item.Discount != null && @item.Discount != "")
                            {
                                @if (item.TenantId == 34)
                                {
                                    <div class="offer DiscountOffer"> @localizer.Get("offer") </div>
                                }
                                else
                                {
                                    <div class="offer DiscountOffer"> @item.Discount% </div>
                                }
                            }


                        </div>
                        <div class="p-2">
                            <h4>@item.ItemName</h4>
                            <small class="trim-text-50 ItemDescription">
                                @if (!string.IsNullOrEmpty(item.ItemDescription))
                                {
                                    @item.ItemDescription
                                }
                            </small>
                        </div>
                    </div>
                    @if (item.IsInService)
                    {
                        <div class="filter-img d-flex justify-content-between align-items-center mt-auto">
                            <div class="item-price">
                                @if (@item.Price ==0)
                                {
                                    
                                }
                                else
                                {
                                   <strong id="stItemPrice"> @item.Price  </strong> 
                                }
                                @if (item.TenantId != 34)
                                {
                                    @if (item.OldPrice != null && item.OldPrice != item.Price)
                                    {
                                        <strong> <del> @item.OldPrice   </del></strong>
                                    }
                                }
                                @if (@item.Price == 0)
                                {

                                }
                                else
                                {
                                    <strong class="currencyCode" style="font-size: 13px;"> @item.CurrencyCode  </strong>
                                }

                                @if (Model.IsApplayLoyal && item.LoyaltycreditPoints >= 0 && item.IsLoyal !=false)
                                {
                                    

                                    @if (@item.LoyaltycreditPoints == 0)
                                    {
                                        <span class="point-style d-block">  <i class="icon-gift"></i></span>
                                    }
                                    else
                                    {
                                        <span class="point-style mx-2"> @item.LoyaltycreditPoints  <i class="icon-gift"></i></span>

                                    }


                                }

                            </div>
                            <button class="btn btn-primary" type="button">
                                 @localizer.Get("Add")
                            </button>

                        </div>
                    }
                    else
                    {
                        <div class="filter-img d-flex justify-content-between align-items-center">
                            <div class="item-price">
                                <strong> @localizer.Get("Unavailable") </strong>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
    }
    else
    {
        <h6 class=" float text-center"> No Items</h6>
    }

}




@*<div class="col-md-4 mb-3 jsFilter" data-type="cat01">
    <!--Type Of catgory-->
    <div class="item-card">
        <div class="d-flex align-items-start">
            <div class="item-thumb">
                <img src="~/desgin/img/demo//img-01.png" alt="">
            </div>
            <div class="p-2">
                <h4> مثال على تفاصيل المنتج مع الخيارات</h4>
                <small class="trim-text-100">
                    لوريم ايبسوم دولار سيت أميت ,كونسيكتيتور أدايبا يسكينج
                    أليايت,سيت دو أيوسمود تيمبور
                    أنكايديديونتيوت لابوري ات دولار ماجنا أليكيوا
                </small>
            </div>
        </div>
        <div class="filter-img d-flex justify-content-between align-items-center">
            <div class="item-price">
                <strong> 5 دينار </strong>
                <span class="point-style mx-2"> 10 <i class="icon-gift"></i></span>
            </div>
            <button class="btn btn-primary" type="button" data-toggle="modal"
                    data-target="#modal-item-detials">
                @localizer.Get("Add")
            </button>

        </div>
    </div>
</div>



<div class="col-md-4 mb-3 jsFilter" data-type="cat02">

    <div class="item-card">
        <div class="d-flex align-items-start">
            <div class="item-thumb">
                <img src="~/desgin/img/demo//img-02.png" alt="">
                <div class="offer"> 20% OFF </div>
            </div>
            <div class="p-2">
                <h4> مثال على تفاصيل المنتج مع الخيارات</h4>
                <small class="trim-text-100">
                    لوريم ايبسوم دولار سيت أميت ,كونسيكتيتور أدايبا يسكينج
                    أليايت,سيت دو أيوسمود تيمبور
                    أنكايديديونتيوت لابوري ات دولار ماجنا أليكيوا
                </small>
            </div>
        </div>
        <div class="filter-img d-flex justify-content-between align-items-center">
            <div class="item-price">
                <strong> 5 دينار  <del> 15 دينار</del></strong>

            </div>
            <button class="btn btn-primary" type="button" data-toggle="modal"
                    data-target="#modal-item-detials">
                @localizer.Get("Add")
            </button>

        </div>
    </div>

</div>

<div class="col-md-4 mb-3 jsFilter" data-type="cat03">

    <div class="item-card not-available">
        <div class="d-flex align-items-start">
            <div class="item-thumb">
                <img src="~/desgin/img/demo//no-image.png" alt="">

            </div>
            <div class="p-2">
                <h4> مثال على تفاصيل المنتج ت</h4>
                <small class="trim-text-100">
                    لوريم ايبسوم دولار سيت أميت ,كونسيكتيتور أدايبا يسكينج
                    أليايت,سيت دو أيوسمود تيمبور
                    أنكايديديونتيوت لابوري ات دولار ماجنا أليكيوا
                </small>
            </div>
        </div>
        <div class="filter-img d-flex justify-content-between align-items-center">
            <div class="item-price">
                <strong> غير متوفر حاليا </strong>

            </div>


        </div>
    </div>



</div>

<div class="col-md-4 mb-3 jsFilter" data-type="cat01">
    <div class="item-card">
        <div class="d-flex align-items-start">
            <div class="item-thumb">
                <img src="~/desgin/img/demo//img-02.png" alt="">

            </div>
            <div class="p-2">
                <h4> مثال على تفاصيل المنتج مع الخيارات</h4>
                <small class="trim-text-100">

                </small>
            </div>
        </div>
        <div class="filter-img d-flex justify-content-between align-items-center">
            <div class="item-price">
                <strong> 5 دينار  </strong>

            </div>
            <button class="btn btn-primary" type="button" data-toggle="modal"
                    data-target="#modal-item-detials">
                @localizer.Get("Add")
            </button>

        </div>
    </div>

</div>*@