@model Infoseed.MassagingPort.OrderingMenu.Pages.Model.OrderingOrdersDetailsModel
@{
    ViewData["Title"] = "single orderdetails page";
    var hasLoyalty = false;
}



<button type="button" class="close close-top-right" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true"><i class="mdi mdi-close"></i></span>
    <span class="sr-only">@localizer.Get("close")</span>
</button>
<section id="orderDetailss" class=" section-padding col-12 bg-white p-3  ">

    <div class="card-header p-0">
        <h2 class=" card-header float col-12">@localizer.Get("item")</h2>
    </div>
    @foreach (var item in Model.lstOrderingtemModel)
    {

        <div class="card-body p-2 bg-white border " >

            <div class="cart-list-product div-selected-item p-2">

                <img class="img-fluid m-1  p-0 col-5" src="@item.ImageUrl" alt="">

                <h5 class="float pb-2 col-7 "><strong>@item.Name</strong></h5>
                <h6 class="float col-7 p-0">


                    @if (item.lstOrderingOrderItemSpecificationModel != null)
                    {
                        @foreach (var spe in item.lstOrderingOrderItemSpecificationModel)
                        {
                            @foreach (var extr in spe.lstOrderingCartItemSpecificationChoicesModel)
                            {

                                <span class="float">@extr.Name|</span>
                            }
                    }}
                    @if (item.lstOrderingOrderItemAdditionalModel != null)
                    {
                        @foreach (var ad in item.lstOrderingOrderItemAdditionalModel)
                        {


                            <span class="float">@ad.Name|</span>

                        }
                    }
                </h6>
                @if (item.ItemNote != "")
                {
                   

                        <h6 class="float col-7">@item.ItemNote</h6>

                    
                }
                <div class="float  d-flex col-12 ">
                    <div class=" flex btn  btn-sm   col-6 mt-2 ">
                        @localizer.Get("QTY"):<strong> @item.Qty</strong>

                    </div>

                    <div class="float- col-6 btn btn-sm  mt-2">



                        @if (@item.TotalPoint!=null && @item.TotalPoint!=0)
                        {

                            hasLoyalty = true;


                            <h5 class=" mb-0 float-" id="p_item.CartItemId">@item.TotalPoint <i class="text-warning mdi mdi-star-circle"></i> </h5>
                        }
                        else
                        {
                                                    <h5 class=" mb-0 float-" id="p_item.CartItemId">@item.Total <i class="mdi mdi-tag-outline"></i> </h5>
                        }

                    </div>
                </div>

            </div>




        </div>

    }
       <div class="card-footer p-0">
        @if (hasLoyalty == false && Model.OrderStatus=="Done" ){
         <button class="btn btn-secondary btn-lg btn-block " type="button" onclick="reOrderConfirm()"  > <h6 class="font2"><i class="mdi mdi-repeat" p-3"></i>اعادة  الطلب</h6></button>

            
        }
        </div>
</section>
<div class="modal fade login-modal-main " id="md-reOrderConfirm">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content" id="sucsess">
            <div class="modal-body">
                <div class="text-center border">
                    <div class="col-lg-10 col-md-10 mx-auto order-done">
                        <i class="mdi mdi-cart-plus text-secondary"></i>

                        <h4 class="text-secondary">@localizer.Get("reorder") </h4>
                        <h5>  @localizer.Get("confirmreorder")</h5>

                    </div>
                    <div class="text-center">
                        <button type="button" class=" btn btn-secondary mb-2 col-6 btn-lg" onclick=" reOrder(@Newtonsoft.Json.JsonConvert.SerializeObject(Model.lstOrderingtemModel))">
                            @localizer.Get("confirm")
                        </button>
                        <button type="button" class=" btn btn-danger mb-2  col-5 btn-lg" data-dismiss="modal" aria-label="Close">
                            @localizer.Get("close")
                        </button>

                    </div>

                </div>
          
            </div>
        </div>




    </div>
</div>
